#sidebar {
  display: flex;
  flex-direction: column;

  border: 3px solid black;
  border-radius: 12px;

  flex: 1;
  min-height: 100%;

  padding: 1em;
  margin: 1em;
}

.nowrap {
  text-wrap-mode: nowrap;
}

.sidebarSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  gap: 1em;

  padding: 2em 0;
}

.categoryButton {
  font-size: 1.5rem;
  border-radius: 8px;
  width: 100%;
}

.categoryButton:hover {
  background: rgb(213, 213, 213);
}

.categoryButton.clicked {
  background: rgb(213, 213, 213);
}
