:root {
  --bgColor: white;
  --textColor: rgb(30, 30, 30);
  --strokeColor: rgb(23, 23, 23);

  --todosBg: white;

  --buttonBg: #e4e4e4;
  --buttonBgHover: #d3d2d2;
  --buttonBgClicked: #c7c7c7;

  --themeBtnBg: rgb(25, 26, 28);

  --todoButtonBg: white;
  --favoritedHighlight: rgba(250, 235, 135, 0.7);
  --deleteHighlight: rgba(250, 141, 135, 0.5);

  --formBg: white;
  --formInputBg: white;

  --footerBg: rgba(25, 26, 28, 0.75);
  --footerText: rgb(226, 229, 216);

  --boxShadow: rgb(23, 23, 23, 0.4);
}

[data-theme='dark'] {
  --bgColor: #202125;
  --textColor: rgb(216, 226, 229);
  --strokeColor: rgba(216, 220, 229, 0.5);

  --todosBg: #272b34;

  --buttonBg: #373d41;
  --buttonBgHover: #53575c;
  --buttonBgClicked: #4f565a;

  --themeBtnBg: white;

  --todoButtonBg: #292d30;
  --favoritedHighlight: rgba(135, 250, 189, 0.2);
  --deleteHighlight: rgba(255, 92, 84, 0.3);

  --formBg: rgb(74, 76, 87);
  --formInputBg: rgb(114, 115, 117);

  --footerBg: rgba(255, 255, 255, 0.5);
  --footerText: rgb(30, 30, 30);

  --boxShadow: rgba(216, 220, 229, 0.15);

  transition: 0.25s;
}

button,
label,
h1,
p {
  color: var(--textColor);
  transition: 0.25s;
}

button {
  border: 2px solid var(--strokeColor);
  background-color: var(--buttonBg);
  border: 0;
}

.todo > button {
  justify-self: center;

  font-size: 1.25rem;
  padding: 0.5rem 0.75rem;
  border-radius: 50%;
}

input[type='text'] {
  outline: none;
}

body {
  background-color: var(--todosBg);
}

#themeToggle {
  position: absolute;
  bottom: 3%;
  right: 1.5%;

  font-size: 2rem;

  padding: 8px 13px;

  border-radius: 50%;
  border: 0;

  background: var(--themeBtnBg);

  transition: 0.25s;
}

#themeToggle:hover {
  transform: scale(1.1);
}

#content {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

button,
input[type='checkbox'] {
  cursor: pointer;
}

button {
  user-select: none;
}

.todo:has(.todoDelete:hover) {
  background-color: var(--deleteHighlight);
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0px 16px;
  border-radius: 8px;

  width: 100%;
  transition: 0.25s;
}

.titleContainer > .sectionTitle {
  margin-right: auto;
}

.titleContainer > button {
  border-radius: 8px;
  font-size: 1.5rem;
  background-color: var(--buttonBg);
}

.todos:has(.titleContainer button:hover) > * {
  background-color: var(--deleteHighlight);
}

.sectionTitle {
  text-align: center;
}

.strikethrough {
  text-decoration: line-through;
}

.todos {
  display: flex;

  flex-direction: column;
  align-items: center;

  gap: 16px;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 2em);

  flex: 6;

  padding: 2em 2em 2em 1em;

  overflow-x: hidden;
  overflow-y: auto;
}

.todos::-webkit-scrollbar {
  width: 8px;
  padding: 12px;
  margin-right: 25px;
}

.todos::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
  opacity: 0.7;
}

.todo {
  position: relative;

  display: grid;
  grid-template-columns: repeat(6, 1fr);

  align-items: center;

  width: 100%;

  padding: 0.5em;
  border-radius: 12px;
  gap: 16px;

  flex-grow: 1;
  transition: 0.2s;
}

.todos .addToDo {
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 50%;

  background-color: var(--buttonBg);
}

.todos .addToDo:hover {
  background-color: var(--buttonBgHover);
}

.todos > .titleContainer {
  position: relative;
}

.todos > .titleContainer::after {
  position: absolute;
  content: '';

  width: 100%;
  bottom: -4px;
  right: 0;
  border: 2px solid var(--strokeColor);
  border-radius: 8px;
}

.todo.favorited {
  background-color: var(--favoritedHighlight);
}

.todo > input {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;

  justify-self: center;
}

.todo button {
  color: var(--textColor);
  background-color: var(--todoButtonBg);
}

.todo > .todoText,
.todo > .todoDate {
  font-size: 1.5rem;
  max-width: max-content;
  text-align: center;
}

form > input {
  padding: 4px 8px;
  border: 2px solid var(--strokeColor);
  border-radius: 8px;
}

form {
  background-color: var(--formBg);
}

form > button {
  border-radius: 8px;
}

.todoform {
  border: 3px solid var(--strokeColor);
  border-radius: 8px;

  max-width: max-content;

  padding: 2em;

  display: grid;
  grid-template-columns: 32px 50ch 15ch 128px;
  grid-template-rows: 1fr;

  gap: 16px;
}

.todoform > .todoDescForm {
  grid-column: 1/5;
}

.todoFavorite,
.todoDelete {
  opacity: 0;
}

.todo:hover > .todoFavorite,
.todo:hover > .todoDelete {
  opacity: 1;
}

.todoFavorite.visible {
  opacity: 1;
}

.todo > .parentText {
  font-size: 1.25rem;
  text-align: center;
}

.todo > .todoDesc {
  display: none;

  font-size: 1.25rem;
  color: var(--textColor);

  grid-column: 1/7;
  justify-self: center;
}

.todo.clicked {
  background: rgba(128, 128, 128, 0.25);
  flex: 2;
}

.todo.clicked > .todoDesc {
  display: initial;
}

.todo:hover {
  background: rgba(128, 128, 128, 0.25);
}

footer {
  position: fixed;
  width: 100vw;
  bottom: 0;

  text-align: center;
  background-color: var(--footerBg);
  color: var(--footerText);

  opacity: 0;
  transition: 0.25s;
}

footer > a {
  color: var(--footerText);
}
