#content {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

button,
input[type='checkbox'] {
  cursor: pointer;
}

button {
  user-select: none;
}

.sectionTitle {
  text-align: center;
}

.strikethrough {
  text-decoration: line-through;
}

.todos {
  display: grid;

  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;

  gap: 16px;
  width: 100%;
  height: 100%;

  flex: 6;

  padding: 2em 2em 2em 1em;
}

.todo,
.todoform {
  align-self: self-start;
}

.todo {
  position: relative;
  display: flex;
  align-items: center;

  width: 100%;

  gap: 16px;
}

.todo > input {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
}

.todo > label {
  font-size: 1.5rem;
}

.todoform {
  display: flex;
  align-items: center;

  gap: 16px;
}

.todoFavorite,
.todoDelete {
  opacity: 0;
}

.todo:hover > .todoFavorite,
.todo:hover > .todoDelete {
  opacity: 1;
}

.todoFavorite.visible {
  opacity: 1;
}

.todo > .parentText {
  font-size: 1.25rem;
  text-align: center;
}
